/* General Body Styling */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  color: #212529;  
}

.navbar {
  background-color: #0c60b5 !important;
}

.navbar-brand, .nav-link {
  color: #ffffff !important;
}

header h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin: 50px;
}

header p {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 20px;
}

footer {
  padding: 20px 0;
  text-align: center;
}

.card {
  border: 5px solid #020a12;
  margin-bottom: 10px;
}

table th, table td {
  border: 1px solid #01080f;
  text-align: center;
}

form {
  background-color: #ffffff;
  padding: 20px;
  border: 2px solid #01080f;
  max-width: 500px;
  margin: 20px ;
}
form label {
  font-weight: bold;
  color: #126fcc;
  margin-bottom: 10px;
}

